<?xml version="1.0"?>
<model>
  <name>sand_dune</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Francesco Iotti</name>
    <email>francesco.iotti@phd.unipi.it</email>
  </author>
  <description>
    Sand dune terrain model using a heightmap.
  </description>
</model>